.container img{
    width: 300px;
    height: 300px;
}
/* .container img:hover{ */
    /* transform: scale(1.5); */
/* } */
.container{
    margin: 10px;
    width: 300px;
    background: #ececec;
    border-radius: 10px;
    box-shadow: 5px 5px 10px    rgb(198, 189, 189);
}
.link{
    color: #696969;
    margin: 30px 20px 20px;
    overflow:hidden;
    text-decoration: none;
}
.container p{
    margin:  0 25px 20px;
    background-color: rgb(10, 145, 46);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.counter{
    display: flex;
    align-items: center;
    border-top: 1px silver solid;
}
.counter img{
    width: 20px;
    height: fit-content;
    cursor: pointer;
    padding: 5px;
}
.counter span{
    background-color: rgb(165, 165, 197);
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.deactive{
    opacity: 0.3;
}
